.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 70px 0;
  width: 680px;
}

.container__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container__image{
  width: 100px;
}

.container__text{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.container__num{
  width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
